
  <h4>{{currentClient.userId}}</h4>
  <section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">

          
          <app-cart-item *ngFor="let ci of panier|async" [cartItem]="ci" (changeProductAmount)="modAmount($event)"></app-cart-item>

          

          
          <div class="card">
            <div class="card-body">
              <!-- <h5 class="mb-0" >{{priceform$ | async}}</h5> -->
              <div class="oblob">
              <button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button>
              <h3>Total:{{this.total|currency:'EUR'}}</h3>
            </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>