.container{
    padding-top: 2rem;
    padding-left: 1rem;
    display:grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
    column-gap: 2em;
    row-gap: 1em;
}
.itemfilter{
    grid-column: 1/span 2;
    grid-row: 1 / span 3;
    background-color: aqua;
}
.itemproduct{

}

.itemgrid{
    grid-column: 3/span 3;
    grid-row: 4/span 4;
    

}
.gridproduct{
    display: grid;
    grid-auto-columns: 100px 100px 100px;
    grid-auto-rows: 200px 200px 200px 200px;
    grid-auto-flow: row;

}
.itemsubgrid{
    grid-column: 1/span 3;
    grid-row: 1 / span 2;
    background-color: red;

}