<div class="arol">
  <div class="content" role="main">
    <div class="card">
      <div class="form-group">
        <label for="search-text">Search Product</label>
        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchText" placeholder="Enter text to search" 
          autofocus>
      </div>
      <ul class="list-group list-group-flush">
        <!-- results of ngFor is passed to appFilter with argument searchText -->
        <ng-container *ngIf="searchText!=''">
          <a routerLink="productdetail/{{c.id}}" *ngFor="let c of products$| async | searchProduct: searchText"><li  class="list-group-item" >
            {{c.title}}
          </li></a>
        
      </ng-container>
      </ul>
    </div>
  </div>
</div>

<div class="container">
<!--   category search               -->
  <div class="content" role="main">
    <div class="card">
      <div class="form-group">
        <label for="search-text">Search Category</label>
        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchText" placeholder="Enter text to search" 
          autofocus>
      </div>
      <ul class="list-group list-group-flush">
        <!-- results of ngFor is passed to appFilter with argument searchText -->
        <ng-container *ngIf="searchText!=''">
        <li  class="list-group-item" *ngFor="let c of characters | searchFilter: searchText">
          {{c}}
        </li>
      </ng-container>
      </ul>
    </div>
  </div>
  <!--           product search       -->
 
<!--                  -->
    <div class="itemfilter">
        <h4>Categories</h4>
    
          <div class="buttons">
            <button [ngClass]="{'colorhov':color=='1'}" (mouseover)="color='1'" (mouseout)="color='white'" [ngStyle]="{'background-color': (buttonInd=='smartphones') ? 'green' : 'white'}"  (click)="toggleButton2('smartphones')">smartphones</button>
            <button [ngClass]="{'colorhov':color=='2'}" (mouseover)="color='2'" (mouseout)="color='white'" [ngStyle]="{'background-color': (buttonInd=='laptops') ? 'green' : 'white'}"  (click)="toggleButton2('laptops')">laptops</button>
            <button [ngClass]="{'colorhov':color=='3'}" (mouseover)="color='3'" (mouseout)="color='white'"[ngStyle]="{'background-color': (buttonInd=='fragrances') ? 'green' : 'white'}"  (click)="toggleButton2('fragrances')">fragrances</button>
            <button [ngClass]="{'colorhov':color=='4'}" (mouseover)="color='4'" (mouseout)="color='white'" [ngStyle]="{'background-color': (buttonInd=='skincare') ? 'green' : 'white'}"  (click)="toggleButton2('skincare')">skincare</button>
            <button [ngClass]="{'colorhov':color=='5'}" (mouseover)="color='5'" (mouseout)="color='white'" [ngStyle]="{'background-color': (buttonInd=='groceries') ? 'green' : 'white'}"  (click)="toggleButton2('groceries')">groceries</button>
            <button [ngClass]="{'colorhov':color=='6'}" (mouseover)="color='6'" (mouseout)="color='white'" [ngStyle]="{'background-color': (buttonInd=='home-decoration') ? 'green' : 'white'}"  (click)="toggleButton2('home-decoration')">home-decoration</button>
          </div>
          
            
    </div>
    <div class="subgrid">
            <app-product-item *ngFor="let p of products$ |async|categoryFilter:buttonInd " [product]="p" class="itemsubgrid" (clickedProduct)="modProduct($event)"></app-product-item>
            
    </div>




</div>