<div class="container">
    <div class="itemfilter">
        <h4>Categories</h4>
    
          <div class="buttons">
            <button [ngStyle]="{'background-color': (buttonInd=='smartphones') ? 'green' : 'white'}"  (click)="toggleButton2('smartphones')">smartphones</button>
            <button [ngStyle]="{'background-color': (buttonInd=='laptops') ? 'green' : 'white'}"  (click)="toggleButton2('laptops')">laptops</button>
            <button [ngStyle]="{'background-color': (buttonInd=='fragrances') ? 'green' : 'white'}"  (click)="toggleButton2('fragrances')">fragrances</button>
            <button [ngStyle]="{'background-color': (buttonInd=='skincare') ? 'green' : 'white'}"  (click)="toggleButton2('skincare')">skincare</button>
            <button [ngStyle]="{'background-color': (buttonInd=='groceries') ? 'green' : 'white'}"  (click)="toggleButton2('groceries')">groceries</button>
            <button [ngStyle]="{'background-color': (buttonInd=='home-decoration') ? 'green' : 'white'}"  (click)="toggleButton2('home-decoration')">home-decoration</button>
          </div>
          
            
    </div>
    <div class="subgrid">
            <app-product-item *ngFor="let p of products$ |async|categoryFilter:buttonInd " [product]="p" class="itemsubgrid" (clickedProduct)="modProduct($event)"></app-product-item>
            
    </div>




</div>