<div class="grow">
<div class="productcard">

    <h4 class="text">{{product.title}}</h4>
    <a routerLink="productdetail/{{product.id}}">
    <div class="imgContainer">
        <img src="{{product.thumbnail}}">
    </div>
    </a>

    <p class="text">Price: {{product.price | currency:'EUR'}}</p>
    <span [ngStyle]="{color:getColor()}">{{product.availability?'En stock':'En rupture de stock'}}</span>
    <br>
    <button *ngIf="product.availability==true" (click)="clicked(product)" >{{mess}}</button>
    
</div>
</div>