img{
    height: 100%;  
    width: 100%;

}
.imgContainer{
    width: 70%;
    height: 60%;
    margin-inline: 30px;
    border: 1px solid;
    opacity: 1;
    overflow:hidden;
}
.text{
    text-align: center;
    
}
.productcard{
    /* background-color:#aac0a7; */
    box-sizing: border-box;
    box-shadow: lightgray 2px 2px 16px;

    width:350px;
    max-width:350px;
    min-width: 350px;
    height:350px;
    max-height: 350px;
    min-height: 350px;
  

}
button {
    margin:0 auto;
    display:block;
}
span{
    
    
}
.grow .productcard{
    transition: 1s ease;
    }

    .grow .productcard:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.05);
        transition: 1s ease;
        }